<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

### Fancy Planet HTML template.

### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces

### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">"/>
<link rel="stylesheet" href="planet.css" type="text/css"/>
</head>

<body>
<h1><TMPL_VAR name></h1>

<TMPL_LOOP Items>
<TMPL_IF new_date>
<TMPL_UNLESS __FIRST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_UNLESS>
<div class="daygroup">
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>
<TMPL_UNLESS new_date>
### End <div class="channelgroup">
</div>
</TMPL_UNLESS>
<div class="channelgroup">

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt=""/>
</TMPL_IF>
</TMPL_IF>


<div class="entrygroup">
<TMPL_IF title>
<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<div class="entry">
<div>
<TMPL_VAR content>
</div>

### Planet also makes available all of the information from the feed
### that it can.  Use the 'planet-cache' tool on the cache file for
### a particular feed to find out what additional keys it supports.
### Comment extra fields are 'author' and 'category' which we
### demonstrate below.

<p class="date">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date><TMPL_IF category> under <TMPL_VAR category></TMPL_IF></a>
</p>
</div>
</div>

<TMPL_IF __LAST__>
### End <div class="channelgroup">
</div>
### End <div class="daygroup">
</div>
</TMPL_IF>
</TMPL_LOOP>

<div class="sidebar">
<h2>About</h2>
<p><b>Planet Scheme</b> gathers blog posts from individuals and projects around the Scheme community in one place. It was previously maintained by Jens Axel Søgaard.</p>
<p>To have your blog featured here, write to the <a href="https://srfi.schemers.org/srfi-list-subscribe.html#schemeorg"><code>schemeorg</code> mailing list</a>.</p>
<p>Planet Scheme is a service of <a href="https://www.scheme.org/">Scheme.org</a>.</p>
<p><img src="images/feed-icon-10x10.png" alt=""/> <a href="/atom.xml">Atom feed</a></p>
<h2>Blogs</h2>
<ul>
<TMPL_LOOP Channels>
<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a> <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a></li>
</TMPL_LOOP>
</ul>

<div>
<p><b>See Also</b></p>
<ul>
<li><a href="http://planet.clojure.in/">Planet Clojure</a></li>
<li><a href="https://planet.lisp.org/">Planet Lisp</a></li>
<li><a href="https://racket-stories.com/">Racket Stories</a></li>
</ul>
</div>

<p>
<b>Last updated</b><br/>
<TMPL_VAR date><br/>
</p>

<p>
<b>Powered by</b><br/>
<a href="https://intertwingly.net/code/venus/docs/"><img src="images/planet.png" width="80" height="15" alt="Planet" border="0"/></a>
</p>

</div>
</body>
</html>
