body {
  background-color: white;
  padding-left: 1rem;
  padding-right: 20px;
  font-family: sans-serif;
  margin: 0em;
}

.channelgroup > h3 {
  background-color: beige;
  border-radius: 0.5rem;
  font-size: 150%;
  margin-bottom: 0;
  padding: 1rem;
}

.channelgroup,
.daygroup > h2 {
  max-width: calc(min(100%, 60rem) - 12rem);
}

.entrygroup {
  background-color: beige;
  border-radius: 0.5rem;
  padding: 1rem;
}

h1 {
  font-weight: normal;
  letter-spacing: -2px;
  color: grey;
}

.admin {
  text-align: right;
}

h2 {
  margin-bottom: 0.3em;
  color: darkred;
  border-bottom: 1px solid red;
}

h3 {
  color: darkred;
  padding: 4px;
}

h3 a {
  text-decoration: none;
  color: inherit;
}

h4 {
  font-weight: bold;
}

h4 a {
  text-decoration: none;
  color: inherit;
}

img.face {
  float: right;
  margin-top: -3em;
}

.entry {
  margin-bottom: 2em;
}

.entry .date {
  color: grey;
}

.entry .date a {
  text-decoration: none;
  color: inherit;
}

.entry img {
  max-width: 100%;
}

.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 12rem;
  margin-left: 0px;
  margin-right: 1rem;
  padding-right: 0px;
  padding-top: 20px;
  padding-left: 0px;
  font-size: 85%;
}

.sidebar h2 {
  font-size: 110%;
  font-weight: bold;
  color: black;
  padding-left: 5px;
  margin-left: 0px;
}

.sidebar ul {
  padding-left: 1em;
  margin-left: 0px;
  list-style-type: none;
}

.sidebar ul li:hover {
  color: grey;
}

.sidebar ul li a {
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li a img {
  border: 0;
}

.sidebar p {
  padding-left: 5px;
}

.sidebar .message {
  cursor: help;
  border-bottom: 1px dashed red;
}

.sidebar a.message:hover {
  cursor: help;
  background-color: #ff0000;
  color: #ffffff !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}
